/* stylesheet.css*/

html{
    background: url('background_wood.png') repeat-x 0 0 scroll;
    background-color:#0C0C0C;
    height:100%;
    width:100%;
}

#bear {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
#tiger {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 0px;
    bottom: 150px;
}
#redlight, #greenlight {
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
}